In [1]:
# importando bibliotecas

import pandas as pd

In [2]:
# estruturação do banco de dados
dados_sql="""create Table moeda (id serial primary KEY,
					 Nome varchar(100),
					 Simbolo varchar(14),
					 Data date,
					 Maximo REAL,
					 Minimo REAL,
					 Abertura REAL,
					 Fechamento REAL,
					 Volume REAL,
					 Cap_de_Mercado REAL);
                     
INSERT INTO moeda(Nome,Simbolo,Data,Maximo,Minimo,Abertura,Fechamento,Volume,cap_de_mercado)
VALUES"""

In [3]:
# criação dos inserts 

arquivo=pd.read_csv('data_clean/data_clean.csv')

for i in range(len(arquivo)):
    dados_sql=dados_sql+(f"('{arquivo['Nome'].iloc[i]}','{arquivo['Simbolo'].iloc[i]}','{arquivo['Data'].iloc[i][:10]}',{arquivo['Maximo'].iloc[i]},{arquivo['Minimo'].iloc[i]},{arquivo['Abertura'].iloc[i]},{arquivo['Fechamento'].iloc[i]},{arquivo['Volume'].iloc[i]},{arquivo['Cap. de Mercado'].iloc[i]}),\n")

dados_sql=dados_sql[:-2]+';\n'

In [5]:
arquivo['tendencia']=arquivo['Fechamento']
for i in range(len(arquivo)):
    if i>0:
        arquivo['tendencia'].iloc[i]=arquivo['Fechamento'].iloc[(i-1)]/arquivo['Fechamento'].iloc[i]
    else

C:\Users\ACER\AppData\Local\Temp\ipykernel_17760\3088002056.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arquivo['tendencia'].iloc[i]=arquivo['Fechamento'].iloc[(i-1)]/arquivo['Fechamento'].iloc[i]

In [6]:
arquivo['tendencia']

0        53.219243
1         1.255124
2         1.057819
3         0.915902
4         0.934784
           ...
17693     1.000194
17694     1.000076
17695     1.000456
17696     0.998834
17697     1.000577
Name: tendencia, Length: 17698, dtype: float64

In [76]:

cor=pd.pivot_table(data=arquivo,columns='Nome',index='Data',values='Fechamento',aggfunc='mean').dropna().corr()

In [77]:
correlacao="""create Table corelacao (id serial primary KEY,
                    Nome VARCHAR(50),
					 Aeve REAL,
					 Binance_Coin REAL,
					 Bitcoin REAL,
					 Cardano REAL,
					 Crypto_com REAL,
					 Dogecoin REAL,
                     Ethereum REAL,
					 Litecoin REAL,
					 Solana REAL,
					 Tether REAL);
                     
INSERT INTO corelacao(Nome,Aeve,Binance_Coin,Bitcoin,Cardano,Crypto_com,Dogecoin,Ethereum,Litecoin,Solana,Tether)
VALUES"""

In [78]:
dados_sql=dados_sql+correlacao
for i in range(len(cor)):
    dados_sql=dados_sql+(f"('{cor.index[i]}',{cor['Aave'].iloc[i]},{cor['Binance Coin'].iloc[i]},{cor['Bitcoin'].iloc[i]},{cor['Cardano'].iloc[i]},{cor['Crypto.com Coin'].iloc[i]},{cor['Dogecoin'].iloc[i]},{cor['Ethereum'].iloc[i]},{cor['Litecoin'].iloc[i]},{cor['Solana'].iloc[i]},{cor['Tether'].iloc[i]}),\n")

In [79]:
# criação do arquio sql

with open('script_sql/script_sql.sql','w') as arquivo : 
    arquivo.write(dados_sql[:-2])